/*
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font: inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */
.ui-autocomplete-input
{ 
    width: 320px;
}


input.lookupTextBox
{
    height:16px;
    display:inline-block;
    border-right-width: 0;
}

input.lookupTextBox.ms-long
{
    width:327px;
}

input.lookupButton
{
    zoom:1;
    height:20px;
    padding-right:10px;
    width:19px;
    padding-right:9px\9;
    padding-top:1px;
    padding-bottom:17px;
    display:inline-block;
    cursor:pointer;
}

a.lookupButton
{
    display:inline-block;
    margin-left: 1px;
    vertical-align:middle;
    padding: 1px;
}

a.lookupButton a.ui-icon-circle-plus
{
    background-position: 1px -191px;
}

a.lookupButton a.ui-icon-search
{
    background-position: -159px -112px;
}

span.lookupHighlighting
{
    background-color: #FFFF99;
}

div.lookupSelection div
{
    float:left;
}

span.lookupResult
{
}

a.lookupResultRemove
{
    margin-left:5px;
    display:inline-block;
    width:16px;
    height:16px;
}

span.lookupItemTitle 
{
    font-weight:bold;
    font-size:8pt;
}

span.lookupItemDescription
{
    font-size:8pt;
    margin-left:10px;
}

.ui-autocomplete-loading 
{ 
    background: white url('/_layouts/RichControls/ui-anim_basic_16x16.gif') right center no-repeat; 
}
